<!-- <p>This component is a form to collect data to add into the fake API using HTTP POST</p> -->
<div>
    <form method="POST">
        <div class="form-group">
          <label>Post Title</label>
          <input type="text" class="form-control" placeholder="Enter Post title" name="title" #title [(ngModel)]="currentPost.title">
        </div>
        <div class="form-group">
          <label>Post Content</label>
          <input type="text" class="form-control" placeholder="Enter Post Content" name="body" #body [(ngModel)]="currentPost.body">
        </div>
        <div>
          <input type="hidden" #id [(ngModel)]="currentPost.id" name="id">
        </div>
        <button *ngIf="!isEdit" type="submit" class="btn btn-primary btn-block" (click)="addPost(title.value, body.value)">Add Post</button>
        <button *ngIf="isEdit" type="submit" class="btn btn-primary btn-block" (click)="updatePost(currentPost)">Update Post</button>
    </form>
</div>
