<div class="card">
    <div class="card-body">
        <h1 class="card-title"> FORM TO ADD POST </h1>
        <app-post-form (newPost)="OnNewPost($event)" [currentPost]="currentPost" [isEdit]="isEdit"> </app-post-form>
    </div>
</div>


<div *ngFor="let eachPost of posts" class="m-5">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title"> {{eachPost.title}} </h1>
            <p class="card-text"> {{eachPost.body}} </p>
            <div>
                <button class="btn btn-primary" (click)="editPost(eachPost)"> Edit </button>&nbsp;
                <button class="btn btn-danger"> Delete </button>
            </div>
        </div>
    </div>
</div>